.login > img:hover {
  background-color: rgb(229, 227, 227);
  padding: 6px;
  border-radius: 10px;
}

.login {
  width: 7vw;
}

.login > img {
  width: 27.5px;
  height: 27.5px;
}

@media (min-width: 768px) {
  .login > img {
    width: 35px;
    height: 35px;
  }
}
