.isClosed {
  transform: translateX(-106vw);
}

.isOpen {
  transform: translateX(-3vw);
}

.isOpen,
.isClosed {
  height: 200vh;
  width: 100vw;
  position: absolute;
  transition: 1s linear;
  background-color: white;
  transition: 0.7s ease-out;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 4vw;
  padding-top: 10vh;
  z-index: 2;
  border: 2px solid black;
}

aside > img {
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding-bottom: 2vh;
}

.Link {
  height: 4vh;
  text-decoration: none;
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
  color: black;
  margin-left: 2vw;
}
