#root {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

@font-face {
  font-family: "cheltenham";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/CheltenhamStdBook.woff) format("woff");
}

* {
  font-family: cheltenham;
}

body {
  overflow: scroll;
}

body::-webkit-scrollbar {
  display: none;
}
