article{
    padding-bottom: 3vh;

}
a>h3{
    font-size: 13px;
    color: rgb(32, 33, 33);
}

article>a{
    font-family: monospace;
    display: flex;
    flex-direction: column;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    text-align: start;
    text-decoration: none;
}

.text{
    padding-top: 1vh;
    margin: 0;
}

a>h1.text{
    font-size: 23px;
}

a>h2.text{
    font-size: 15px;
    color: gray;
}

article>a>img{
   width: 100%;
   padding-bottom: 2vh;
   padding-top: 1vh;
}

article>hr{
    width: 90%;
    margin: 0 auto;
}



@media (min-width:1024px){
    article{
        max-width: 60vw;
        border-right: 1px solid lightgray;
    }
}